/* General */ 
@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body{
    font-family: "Seymour One", sans-serif;
    font-weight: 400;
    text-align: center;
    align-items: center;
}

  
html{
    scroll-behavior:smooth;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, #800000 50%, rgba(2,0,36,1) 100%);
    height: 100%;
}
  
p{
      color: rgb(51,51,51)
}
  
/* ----- Homepage ----- */

.gameTitle{
    color: #2F4F4F;
    font-size: 70px;
    padding: 5rem;
    text-shadow: 7px 7px #FAEBD7;
}

.gameTitle span{
    animation: bounce .4s ease infinite alternate;
    position: relative;

}
.gameTitle span:nth-child(2){
    animation-delay: .1s;
}
.gameTitle span:nth-child(3){
    animation-delay: .2s;
}
.gameTitle span:nth-child(4){
    animation-delay: .3s;
}
.gameTitle span:nth-child(5){
    animation-delay: .4s;
}
.gameTitle span:nth-child(6){
    animation-delay: .5s;
}
.gameTitle span:nth-child(7){
    animation-delay: .6s;
}
.gameTitle span:nth-child(8){
    animation-delay: .1s;
}
.gameTitle span:nth-child(9){
    animation-delay: .2s;
}
.gameTitle span:nth-child(10){
    animation-delay: .3s;
}
.gameTitle span:nth-child(11){
    animation-delay: .4s;
}
.gameTitle span:nth-child(12){
    animation-delay: .5s;
}
.gameTitle span:nth-child(13){
    animation-delay: .6s;
}
.gameTitle span:nth-child(14){
    animation-delay: .7s;
}

@keyframes bounce {
    100%{
        top: -20px;
    }
}


#titleBox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10%;
}

#menuCont{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.homebuttons{
    background:none;
    color: white;
    width: 40rem;
    height: 100px;
    border-color: #708090;
    border-radius: 5%;
    font-size: larger;
    font-weight: 800;
    margin: 8px;
}

.homebuttons:hover{
    background-color:#F08080;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}

/* ----- Instructions -----   */
.instructions{
    height: 10rem;
    padding-top: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.instructions h1{
    color: #FAEBD7;
}
.instructions p{
    color:#4682B4;
    font-size: xx-large;
}

.note{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.note h1{
    color: #FF4500;
}
.note p{
    color:#FAEBD7;
    font-size: larger;
    padding-bottom: 5rem;
}

/* ----- Leaderboard ----- */

.leaderboard{
    height: 10rem;
    padding-top: 25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.leaderboard h1{
    color: #FAEBD7;
}

/* ----- Play ----- */
.playCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15rem;
    padding-bottom: 5rem;
    gap: 2rem;
}

#timer{
    transform: translateY(70%);
    height: 15rem;
    color: #708090;
    text-shadow: 2px 2px #FAEBD7;
    
}

#board{
    background-color:#F08080;
    height: 600px;
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
}

.icon{
    height: 64px;
    width: 64px;
}

#restartBtn{
    background:none;
    color: white;
    width: 200px;
    height: 50px;
    border-color: #708090;
    border-radius: 5%;
    font-size: larger;
    font-weight: 800;
    margin: 25px;
    margin-bottom: 15rem;
}
#restartBtn:hover{
    background-color:#F08080;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}
